{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/data.json {:mvn/version "2.5.1"}
        org.clojure/tools.reader {:mvn/version "1.4.2"}}
 :aliases {:spec {:main-opts ["-m" "speclj.main" "-c"]
                  :extra-deps {speclj/speclj {:mvn/version "3.10.0"}}
                  :extra-paths ["spec"]}
           :scrap {:main-opts ["-m" "scrap.core"]}}}
