{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/data.json {:mvn/version "2.5.1"}
        org.clojure/tools.reader {:mvn/version "1.4.2"}}
 :aliases {:spec {:main-opts ["-m" "speclj.main" "-c"]
                  :extra-deps {speclj/speclj {:mvn/version "3.10.0"}}
                  :extra-paths ["spec"]}
           :cov {:main-opts ["-m" "speclj.cloverage" "--" "-p" "src" "-s" "spec" "--lcov"]
                 :extra-deps {cloverage/cloverage {:mvn/version "1.2.4"}
                              speclj/speclj {:mvn/version "3.10.0"}}
                 :extra-paths ["spec"]}
           :scrap {:main-opts ["-m" "scrap.core"]}
           :mutate {:main-opts ["-m" "clj-mutate.core"]
                    :extra-deps {io.github.unclebob/clj-mutate
                                 {:git/url "https://github.com/unclebob/clj-mutate"
                                  :git/sha "71ed8783411a3a762636f2712e833170d5ef2c6b"}}
                    :extra-paths ["spec"]}
           :crap {:main-opts ["-m" "crap4clj.core"]
                  :extra-deps {io.github.unclebob/crap4clj
                               {:git/url "https://github.com/unclebob/crap4clj"
                                :git/sha "992a5dd41bb337a843c02fb4829a69af7bfcf595"}}}}}
